body {
  
  padding-top: 70px;

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	body{
		padding-top: 500px;
	}
}

div#alert-mini{
	height:20px;
	font-size: 9pt;
	margin-bottom: 0;
	line-height: .3;
}

#sin-salto-h{
	display:inline;
}